dash==3.3.0
plotly-resampler==0.11.0
dash-player==1.1.0
dash-bootstrap-components==2.0.4
Flask-Caching==2.3.1
scipy==1.16.3
dash-extensions==2.0.4
pywebview==6.1
imageio-ffmpeg==0.6.0
openpyxl==3.2.9
xlsxwriter==3.2.9
tqdm==4.67.1
torch==2.9.1
einops==0.8.1
timm==1.0.22
